$primary-font:'Work Sans', sans-serif;
$primary:#490057;
$light_purple:#E8D8EC;
$lighter_purple: rgba(148, 0, 177, 0.11);
$secondary:#FBB03B;
$white:#ffffff;
$text: #787878;
$header:linear-gradient(90deg, #490057 0%, #A303A0 112.04%);